<div class="list-group">
<a class="list-group-item active center"><%= @question.question %> </a>

<% @choices.each_with_index do |c, i| %> 
   <% i = i + 1 %>
        <%= link_to "#{c.choice}", answer_questions_path(:id => c.id, :url => @url), :class => "t-white no-ul more-font-sp list-group-item-info list-group-item center" %>
    <% end %>
</div>


